.photo-grid {
    width: auto;
    max-width: 1184px;
    padding-top: 92px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/* Media query de tablets */
@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 720px;
        padding-top: 64px;
    }
}

/* Media query de mobiles */
@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        padding-top: 38px;
        margin-left: auto;
        margin-right: auto;
        gap: 12px;
    }
} 
