.places__url-heading {
    color: #AAA;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin: 0 auto;
}

/* Media query de tablets */
@media screen and (max-width: 1279px) {
    .places__url-heading  {
        margin-bottom: 8px;
    }
}